<!--
  Generated template for the FormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Zitat details</ion-title>
    <ion-buttons end>
      <button ion-button (click)="changeZitat()" *ngIf="isenabled === false">
        Bearbeite
      </button>
      <button ion-button (click)="cancel()" *ngIf="isenabled === true">
        Abbreche
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

  <ion-item>
    <ion-label fixed>Name</ion-label>
    <ion-input type="text" [(ngModel)]="name" [disabled]="!isenabled"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>Datum</ion-label>
    <!-- <ion-input type="date" [(ngModel)]="datum"></ion-input> -->
    <ion-datetime displayFormat="DD.MM.YYYY" [(ngModel)]="datum" [disabled]="!isenabled"></ion-datetime>
  </ion-item>

  <!-- <ion-item> -->
    <ion-label>Zitat</ion-label>
    <!-- <ion-input type="text" [(ngModel)]="zitat"></ion-input> -->
    <ion-textarea [(ngModel)]="zitat" [disabled]="!isenabled" rows="5"></ion-textarea>
    <!-- <textarea #myInput1 id="myInput1" rows="2" maxLength="500" (keyup)="resize()" [(ngModel)]="zitat" [disabled]="!isenabled"></textarea> -->
  <!-- </ion-item> -->

  <!-- <ion-item> -->
    <ion-label>Beschribig</ion-label>
    <!-- <ion-input type="text" [(ngModel)]="zitat"></ion-input> -->
    <ion-textarea [(ngModel)]="beschreibung" [disabled]="!isenabled" rows="5"></ion-textarea>
    <!-- <textarea #myInput2 id="myInput2" rows="2" maxLength="500" (keyup)="resize()" [(ngModel)]="beschreibung" [disabled]="!isenabled"></textarea> -->
  <!-- </ion-item> -->

  <div padding>
    <button ion-button color="primary" block (click)="saveZitat()" *ngIf="isenabled === true">Änderig speichere</button>
  </div>

</ion-list>


</ion-content>

<ion-footer>
  <div padding>
    <button ion-button color="danger" block (click)="deleteZitat()" *ngIf="isenabled === true">Zitat lösche</button>
  </div>
</ion-footer>
